article-sort-order date-desc

keep-articles-days 30

max-items 120

bookmark-cmd "/Users/larry/pinboard_bookmark.sh"

save-path ~/Downloads

download-path ~/Downloads
max-downloads 2

browser /opt/firefox/firefox -new-tab

always-display-description true
auto-reload yes
download-full-page yes
mark-as-read-on-hover yes
refresh-on-startup yes

color background	color27	default
color listnormal	color160	default
color listfocus	white	default
color info	color253	default
color article	color248	default
